<div class="footer">
    <div class="container">
        <ul class="link-box clear-float">
            <li><a href="{:U('user/protocol')}">使用协议</a></li>
            <li><a href="{:U('user/question')}">常见问题</a></li>
            <li><a href="{:U('user/rate')}">费率说明</a></li>
        </ul>
    </div>
    <p class="copyright">Copyright © 2018 -  All Rights Reserved</p>
</div>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/static/js/main.js"></script>
</body>
</html>
