<link rel="stylesheet" href="__ROOT__/Public/static/css/setting_8ae286f527.css">
<div class="container clear-float main">
    <div class="setting-leftmenu fl">
        <div class="menu-head">用户中心</div>
        <div class="left-menu-wrap">
            <div class="menu-c">
                <div class="icon-fold"></div>
                <div class="menu-title">用户资料</div>
                <div class="menu-item-cont">
                    <a href="{:U('Setting/userinfo')}" class="menu-item">基本信息</a>
                    <a href="{:U('Setting/wkcaddr')}" class="menu-item">链克地址</a>
                    <a href="{:U('Setting/verification')}" class="menu-item ">身份验证</a>
                </div>
            </div>
            <div class="menu-c">
                <div class="icon-fold"></div>
                <div class="menu-title">账户安全</div>
                <div class="menu-item-cont">
                    <a href="{:U('Setting/options')}" class="menu-item ">安全设置</a>
                </div>
            </div>
            <div class="menu-c bt">
                <div class="icon-fold"></div>
                <div class="menu-title">受信任的</div>
                <div class="menu-item-cont">
                    <a href="{:U('Setting/trusted')}" class="menu-item ">信任您的人</a>
                    <a href="{:U('Setting/trusting')}" class="menu-item ">您信任的人</a>
                    <a href="{:U('Setting/blocking')}" class="menu-item ">您屏蔽的人</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"></script>

